#root {
max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.job-card {
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
}

@media screen and (min-width: 800px) {
  .job-card {
    flex: 0 0 calc(30% - 20px);
    /* Three job cards per row with 20px space between them */
  }
}



.job-card .company-intro {
  display: flex;
}

.job-card .posted-time {
  border: 1px solid gray;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

.job-card .posted-time :first-child {
  margin-right: 10px;
}

.job-card .company-intro .company-logo {
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  margin-right: 20px;
}

.job-card .company-intro .company-title p {
  margin: 0px;
  text-transform: capitalize;
  font-size: 14px;
}

.job-card .company-intro .company-title {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.job-card .min-experiance div:first-child {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
  margin-top: 10px;
}

.job-card .min-experiance div:last-child {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.job-card .view-job {
  background: linear-gradient(to bottom, #fffcfc9e 85%, #ffffff 15%);
  position: absolute;
  top: 325px;
  left: 50%;
  transform: translateX(-50%);
  color: blue;
  font-size: 16px;
  text-align: center;
  padding: 35px 20px;
  width: 88%;
}

.button {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.job-card .salary-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-card .details {
  max-height: 232px;
  overflow: hidden;
  font-size: 14px;
}

.listedjob {
  display: flex;
  flex-wrap: wrap;
  gap: 20;
  margin: -10px;
  justify-content: space-between;
}

.margin-right {
  margin-right: 20px;
  /* Horizontal space between the first and second card in each row */
}

.filtercontainer {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

 
}

.filtercontainer>*:not(:last-child) {
  margin-right: 15px;
}

.search-input {
  border: 1px solid #b3b3b3;
  height: 20px;
  border-radius: 4px;
  padding: 8px;
}

.loading, .nodata{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

}


.showerror{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}


